<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>服务好专区</title>
  <link rel="stylesheet" href="./lib/style.css">
</head>

<body id="app" style="background-color: red;">
  <!-- <canvas id="myCanvas" style="position: absolute;top: 0;width: 100vw;height: 100vh;" class="left-0"></canvas> -->

  <div style="height: 20vw;">
    这是一个使用 VW 适配的容器。{{ message }}
  </div>
  <div style="overflow: scroll;margin-left: 20px;margin-right: 20px;">
    <table>
      <tr class="flex" style="position: relative;">
        <th v-for="(swiper, index) in swiperList" :key="swiper.dataIndex + index"
          :class="`${index === swiperList.length-1 ? 'sticky-column': ''}`" style="width: 120px;">
          {{
          swiper.label}}</th>
      </tr>
      <tr v-for="n in 20" class="flex" style="height: 50px;position: relative;">
        <td v-for="(swiper, index) in swiperList" :class="`${index === swiperList.length-1 ? 'sticky-column': ''}`"
          style="width: 120px;">
          {{swiper.label}}
        </td>
      </tr>
    </table>
  </div>

  <!-- Scroll JS -->
  <script src="./lib//scroll.js"></script>
  <script type="module">
    import { createApp, ref, onMounted } from './lib/vue.global.prod.js'
    import ListComponent from "./component/listComponent.js"
    import fetchData from './lib/fetch.js'
    import initLoadFunc from './lib/canvas.js'

    createApp({
      setup() {
        const message = ref('Hello vue!')
        const content = ref([])
        const swiperList = ref([{ label: '责任人/公司', dataIndex: 'first', width: '10vw' }, { label: '责任人/公司', dataIndex: 'first1', width: '15vw' }, { label: '责任人/公司', dataIndex: 'first2', width: '10vw' }, { label: '责任人/公司', dataIndex: 'first', width: '10vw' }, { label: '责任人/公司', dataIndex: 'first', width: '10vw' }, { label: '责任人/公司', dataIndex: 'first', width: '10vw' }, { label: '责任人/公司', dataIndex: 'first', width: '10vw' }, { label: '责任人/公司', dataIndex: 'first', width: '10vw' }, { label: '责任人/公司', dataIndex: 'first', width: '10vw' }, { label: '责任人/公司', dataIndex: 'first', width: '10vw' },])

        const setDataFunc = () => {
          new InfiniteScroll('.container', {})

          content.value = [{ title: '1', data: [4, 5, 6] }, { title: '2', data: [7, 8, 9] }, { title: '3', data: [10, 11, 12] }]
        }

        // Initialize Swiper AND Get Data
        onMounted(() => {
          // initLoadFunc()
          setDataFunc()
          fetchData("http://10.154.31.142/tkfbm/login/loginmaintainer", { params: "eyJ1c2VyTmFtZSI6ImR1YW54eiIsInBhc3N3b3JkIjoiUGFzczEyIyQifQ==" }).then((data) => {
            console.log(data)

          });
        })

        return {
          message,
          content,
          swiperList
        }
      },
      components: {
        ListComponent,
      }
    }).mount('#app')
  </script>

  <script>

  </script>
</body>

</html>